.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    float: left;
    margin: 0.5rem;
}

.card#base {
    width: 25rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}

.container#title {
    border: 2.5px solid #aaa;
}

#data {
    display: flex;
    justify-content: space-between;
}

.left-column {
    margin-right: 1em;
    flex-direction: column;
}

.right-column {
    margin-right: 1em;
    flex-direction: column;
    text-align: right;
}

#name {
    text-align: center;
}