details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}

div#gearBox {
    display: flex;
    justify-content: space-between;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] {
    padding: 0.5em;
}

div#gearKey, div#gearSkillKey {
    margin-right: 1em;
    flex-direction: column;
}

div#gearValue, div#gearSkillValue {
    margin-right: 1em;
    flex-direction: column;
    text-align: right;
}

div#gearAbility {
    flex-direction: row;
}

table {
    border-collapse: collapse;
}

table tr {
    border-bottom: 1pt dotted black;
}

table td {
    padding: 0.5em 1em;
}

details.gear {
    border: none;
}

.hidden {
    display: none;
}