.modal {
    align-items: center;
    display: flex;
    justify-content: center; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(170, 170, 170, 0.6);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}
.content {
    position: absolute;
    background: white;
    width: 400px;
    padding: 1em 2em;
    border-radius: 4px;
}
.modal:target {
    visibility: visible;
    opacity: 1;
}
.box-close {
    position: absolute;
    top: 0;
    right: 15px;
    color: #fe0606;
    text-decoration: none;
    font-size: 30px;
}

form.box {
    display: flex;
    justify-content: space-between;
}

div.key {
    margin-right: 1em;
    flex-direction: column;
    font-size: 19px;
}

div.value {
    margin-right: 1em;
    flex-direction: column;
    text-align: right;
}